/*
    Author: Jacob Stone
*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(202, 86%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans';
}

.calculator-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 80%;
    border-radius: 25px;
    border: 1px solid black;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border: 1px solid red;
    margin-left: 100px;

}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: start; 
    width: 100%;
    height: auto; 
    padding: 0 10px;
    border: 1px solid green;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%; 
    border: 1px solid blue;
}

form button {
    height: 50px;
    width: 300px;
    border-radius: 30px;
    background-color: hsl(61, 70%, 52%);
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: hsl(202, 55%, 16%);
}

form button i {
    margin-right: 15px;
}

.term-interest-row {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    border: 1px solid orange;
    margin-bottom: 50px;
}

.mort-type label {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
    margin-bottom: 50px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-container i {
    position: absolute;
    left: 10px;
    color: grey;
  }

  .input-container label {
    margin-bottom: 5px;
  }
  
  .input-container input {
    padding-left: 30px; /* Adjust padding to make room for the icon */
    height: 40px; /* Adjust as necessary */
    width: 100%; /* Adjust as necessary */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
} */

.results-container {
    height: 100%;
    width: 50%;
    background-color: hsl(202, 55%, 16%);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 75px;
}

.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 15px;
}

.no-results h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.no-results p {
    color:  hsl(203, 41%, 72%);
}