/*
    Author: Jacob Stone
*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(202, 86%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans';
}

.calculator-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 80%;
    border-radius: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Correct this line */
    align-items: start; /* Correct this line */
    width: 100%;
    height: auto; /* Adjust this line */
    padding: 0 10px; /* Add some padding if needed */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
}

/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
} */

.results-container {
    height: 100%;
    width: 50%;
    background-color: hsl(202, 55%, 16%);
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 75px;
}

.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 15px;
}

.no-results h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.no-results p {
    color:  hsl(203, 41%, 72%);
}